<article style="background-color: #fff; width: 80%; margin: auto; height:550px; overflow-y: auto">
  <h2 class="text-center"><b>Belote rules</b></h2>
  <p>
  The rules of Belot are very close to those of the French card game Belote, and Jewish card game Clobyosh, but with a few significant
  differences in each. The game is played by 2, 3 or 4 players. The 4-player version is considered to be the standard game, and other two
  are just crippled versions played only if there aren't enough players available. The 4 players are 2 teams of two. The other variations
  each player is alone. 2 player and 3 players use the 24-card deck (9 to Ace). Note that these rules are slightly different among
  countries.
  </p>
  <p>Each round of Belot (no matter how many players) consists of these steps: dealing, bidding, declaration, playing and scoring:</p>
  <h4><b>Dealing and bidding</b></h4>
  <p>
  The game is played with a 32-card (A K Q J 10 9 8 7) Central European suited deck which is first shuffled by dealer and pack is then
  offered for person sitting to the left of the dealer to cut. The Player offered to cut can cut or just tap on the top of the pack in which
  case no cutting is done. Cards are dealt three at a time, counter-clockwise beginning to the right of dealer. At first only 6 cards are
  dealt.
  </p>
  <p>The possible bidding or contracts are (from lowest to highest):</p>
  <ul>
    <li>Clubs <span style="color: black">♣</span></li>
    <li>Diamonds <span style="color: red">♦</span></li>
    <li>Hearts <span style="color: red">♥</span></li>
    <li>Spades <span style="color: black">♠</span></li>
    <li>No trumps</li>
    <li>All trumps</li>
  </ul>
  <p>Every player must either suggest a higher contract, or bid:</p>
  <ul>
    <li>Pass</li>
    <li>Double (Coinchée, or Contré), but only if the current highest contract was not bid by the partner.</li>
    <li>Re-double (Re-contra), if the other team have doubled bidder's or bidder partner's contract.</li>
  </ul>
  <p>
  Usually two levels of doubling are allowed. In some areas of Bulgaria a third level is also used. It is called "сюр-контра" (Sur-Contre-
  derived from French; over-double), "чаршаф-контра" (bed sheet-double) or "излез-контра" (go out-double) and the aim is to win the whole
  match in a single game (26 MP x 8, see section Scoring below). Note that if a player/team is afraid to play a doubled game, they can bid
  different colour suit. The higher contract will be in all trumps and can not be escaped.
  </p>
  <p>The bidding phase is over when one of the following becomes true:</p>
  <ul>
    <li>Four passes were announced</li>
    <li>Three passes were announced after a contract was suggested</li>
    <li>An "all trumps" contract is re-doubled</li>
  </ul>
  
  <h4><b>Declarations (announcements)</b></h4>
  <p>
    Declarations are particular sets of cards held in players' hands, which give players extra points, if announced! There are three
    sorts of declarations:
  </p>
  <p>4 cards of the same rank, called "square"</p>
  <ul>
    <li>4 jacks: 200 points</li>
    <li>4 nines: 150 points</li>
    <li>4 Aces, Ks, Qs and tens (like in all declarations, 10's are weaker than Q's): 100 points</li>
  </ul>
  <p>Note that 4 eights, sevens: un-rewarded</p>
  <p>Sequences from 3 to 8 cards of the same suit. The cards are ranked as follows: A, K, Q, J, 10, 9, 8, 7</p>
  <ul>
    <li>3 cards (A tierce): 20 points</li>
    <li>4 cards (A quarte): 50 points</li>
    <li>5 cards (A quint): 100 points</li>
  </ul>
  <p>Sequences of 6 or 7 cards of the same suit are declared and counted as the highest one of the 5-card sequences which they include. 
  8-card sequence is counted as 3 cards and 5 cards.</p>
  <p>These above must be declared during the first hand being played.</p>
  
  <h4><b>Playing</b></h4>
  <p>
  The player to dealer's right plays his card first. The subsequent players must follow suit if they can. If a player can't follow suit he
  must play trump card. If he can't play trump either, he plays any suit.
  </p>
  <p>In Bulgarian bridge-belote the rank of the cards is different for trump and non-trump suits. The order is (from highest to lowest
  rank):</p>
  <ul>
    <li>In a trump suit: "J 9 A 10 K Q 8 7"</li>
    <li>In a non-trump suit: "A 10 K Q J 9 8 7"</li>
  </ul>
  <p>If the first card played is trump, subsequent players must follow suit and also play a trump card that beats all previous cards if
    they can. It is called raising and applies only for trump suits. If non-trump was played first, and then trump, the player on turn
    needs to follow the suit of the first card played and doesn't have to trump the card that beats the first one. The player who won the
    hand or trick collects the cards played in this trick and plays first in next hand/trick.</p>
  <p>If any of the above rules is broken, which is considered an abhorrent cheating, the opponent/opponents gets/get 162 or 258 points
    (which is sum of all card values) + all declarations declared in this round (no matter who declared) and current round ends. Two
    accidents like this can ruin the match.</p>
  
  <h4><b>Scoring</b></h4>
  <p>Every player/team counts the points he has from the tricks he won.</p>
  <p>The winner of last trick adds 10 points.</p>
  <p>The player or team is allowed to add points retrieved from declaration(s) only if they won at least one trick. Exception is the
    points from Belot which are always awarded.</p>
  <p>Each card rank has a specific scoring value; for Jacks and Nines the value depends on whether the suit is trump or not. Jack is 20
    points trump and 2 points non-trump. 9 has 14 poins for trump suit and zero for non-trump. Queen is 3, King is four, 10 is 10 and Ace
    is 11. 7 and 8s does not count.</p>
  <p>Declarations, including belotes, are added to the score. Remember that in a no trumps game there are no declarations, not even belot.
    If the contract was no trumps, the result is multiplied by two. So is done for every double bid. If a team bid the contract and has
    less points, all points go to the enemy, and the losing team in Bulgarian Belote are said to be "вътре" (inside) similar to the French
    equivalent "être dedans". In a doubled contract, both teams are considered committed.</p>
  <p>A special valat (or capot) premium of 9 Match Points exists for not leaving a single trick for the enemy. It is not doubled even if
    the contract is doubled.</p>
  <p>The result is divided by ten, rounded, and added up to the global score sheet. This is measured in Match Points (MPs). The rounding
    is somewhat complicated as the sum of points is a multiple of ten only for a "No trumps" contract, which is 130x2=260 total. It is 258
    for "All trumps" and 162 for a suit contract. Therefore the rounding limit is 5 in a "No trumps" contract, 4 in an "All trumps", and 6
    in a suit contract. The total of Match Points in a game is therefore at least 16 points for a suit contract and 26 for all-trump.
    Declarations and valat can increase it. The no-trump game has no declaration points and is always 26 MPs.</p>
  <p>A score below the limit is rounded down. Example: 125 points in a suit contract yields 12 Match Points ; A score above the limit is
    rounded up. Example: 125 points in an "All trumps" contract yields 13 MPs; 54 points in a "No trumps" contract yelds 11MPs;</p>
  <p>The funniest sentences can be heard around the table "65 plus 14 and the last 10 makes 9"!! When both teams have scores at the
    rounding limit, the lower score is rounded up and the higher score is rounded down. Example: if in an "All trumps" contract with two
    tierces the declarer have got 154 points and the defenders have got 144 points, both teams will get 15 MPs and it would be a narrow
    escape. When both teams have equal scores at the end of the round, the points are "hanging". What happens in this case is the
    following: the committed team doesn't add those points to their score, while the other team do. The remaining points (those that were
    not added by the committed team) "hang" over to the next round and they are given to the team that wins.</p>
  <p>In some parts of Bulgaria, the rules of the game include a kirtik, which is a special −10 match points penalty for not winning when
    committed or for being valat.</p>
  
  <h4><b>Winning</b></h4>
  <p>The game score is kept on paper - the Match Points are recorded on a sheet of paper. The paper is divided in two columns - We and
    You. To win a round or a small game, also called a single deal the team or player who bid the contract must score more points.</p>
  <p>If the team who bid the contract won it, all teams/players score the number of points each of them collected through scoring.</p>
  <p>If team who bid lost it, the other team wins the number of points both teams collected through scoring and the bidding team scores
    zero (which is marked by a dash (-), not by a number (0)).</p>
  <p>The first team to reach 151 Match Points in the global score is the winner, but the global game cannot end if a valat takes place.
    Then another round/deal must be played.</p>
  <p>In case of 3 players, the player who bid has to collect more points than the sum points of both players. Otherwise he gets zero.</p>

</article>