<div class="row">
  <div class="col-lg-8" id="game-room">
    <div class="row" id="north">
      <div class="col-lg-3" id="north-west">
        <% if(game.nr_players >= 2) { %>
          <img class="pull-left img-responsive player" src="/linker/images/player.png"/>
        <% } else { %>
          <img class="pull-left img-responsive player" src="/linker/images/unknown.png"/>
        <% } %>
      </div>
      <div class="col-lg-6" id="north-center">
        <% if(game.total_players == 4 && game.nr_players >= 3) { %>
          <img class="img-responsive player" src="/linker/images/player.png"/>
        <% } else if(game.total_players == 4 && game.nr_players < 3) { %>
          <img class="img-responsive player" src="/linker/images/unknown.png"/>
        <% } %>
      </div>
      <div class="col-lg-3" id="north-east">
        <% if(game.total_players == game.nr_players) { %>
          <img class="pull-right img-responsive player" src="/linker/images/player.png"/>
        <% } else { %>
          <img class="pull-right img-responsive player" src="/linker/images/unknown.png"/>
        <% } %>
      </div>
    </div>
    <div class="row" id="center">
      <div class="col-lg-3" id="center-west">
      </div>
      <div class="col-lg-6" id="game-table">
<!-- carti
        <img class="img-responsive card" src="/linker/images/C7.png"/>
        <img class="img-responsive card" src="/linker/images/HK.png"/>
        <img class="img-responsive card" src="/linker/images/H8.png"/>
-->
<!-- alege tip
        <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-default">
            <span class="card-type" style="color:black">♣</span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="card-type" style="color:red">♦</span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="card-type" style="color:red">♥</span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="card-type" style="color:black">♠</span>
          </button>
        </div>
-->
        <% if(game.total_players != game.nr_players) { %>
          <div class="row" id="loading">
            <div class="col-lg-offset-1 col-lg-10">
              <h2 class="text-center">Waiting for other players</h2>
              <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="50" style="width: 100%">
                  <span class="sr-only">45% Complete</span>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <div class="col-lg-3" id="center-east">
      </div>
    </div>
    <div class="row" id="south">
      <div id="player_cards" class="col-lg-8 col-lg-offset-2">
<!--
        <img class="img-responsive card" src="/linker/images/C7.png"/>
        <img class="img-responsive card" src="/linker/images/HK.png"/>
        <img class="img-responsive card" src="/linker/images/H8.png"/>
        <img class="img-responsive card" src="/linker/images/H9.png"/>
        <img class="img-responsive card" src="/linker/images/D10.png"/>
        <img class="img-responsive card" src="/linker/images/C9.png"/>
        <img class="img-responsive card" src="/linker/images/CQ.png"/>
        <img class="img-responsive card" src="/linker/images/DA.png"/>
-->
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <table class="table">
      <thead>
        <tr>
          <th id="player1">Player1</th>
          <th id="player2">Player2</th>
          <th id="player3">Player3</th>
          <% if(game.total_players == 4) { %>
            <th id="player4">Player4</th>
          <% } %>
          <th>Total</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script>
  function stack_cards(id_container) {
    var count  = $(id_container).children().length;
    var width  = $(id_container).width();
    var height = $(id_container).height();
    var card_width = $(id_container).children().first().width();
    var all_cards_width = card_width + ((count - 1) * card_width / 2);
    var offset = (width - all_cards_width) / 2;
    var array_img = $(id_container).children();
    $(id_container).children().first().css("margin-left", offset);
    for(var i = 1; i < count; i++) {
      var img = array_img[i];
      $(img).css("margin-left", -1 * card_width / 2);
    }
  }

  $(window).load(function() {
    var url = window.location.href.split("/");
    var id = parseInt(url[url.length - 1]);

    function updateScoreBoardNames(game_ins) {
      for(var i = 0; i < game_ins.users_names.length; i++) {
        $("#player" + (i + 1)).html(game_ins.users_names[i]);
      }
    }

    socket.post("/game/enter", {game: id}, function(data) {
      var game_ins = data;
      updateScoreBoardNames(game_ins);
    });

    socket.on("update", function(data) {
      console.log(data);
      var game = data.game;
      var game_ins = data.gameInstance;

      updateScoreBoardNames(game_ins);

      var img = $('<img>', {class: "img-responsive player", src: "/linker/images/player.png"});
      if(game.nr_players == 2) {
        img.addClass("pull-left");
        $("#north-west").html(img);
      }

      if(game.nr_players == 3 && game.total_players == 4) {
        $("#north-center").html(img);
      }

      if(game.nr_players == game.total_players) {
        $("#loading").remove();
        img.addClass("pull-right");
        $("#north-east").html(img);
      }
    });
  });

</script>
